<div style="margin-top: 110px;">
<div class="col">
  <label for="docName"><h6>Name:</h6>
    John Doe
  </label><br>
  <label for="degreeName"><h6>Degree:</h6>
    MBBS
  </label>
</div>
<hr>
<div class="col">
  <button type="button" class="btn btn-primary  p-2 mb-2 "  style="margin-left: 10px; margin-right: 500px;">
    Notifications <span class="badge badge-light">9</span>
    <!-- <span class="sr-only">unread messages</span> -->
  </button>
  <button class="btn btn-primary p-2 mb-2" type="submit"  style="margin-left: 500px; margin-right: 10px;">Add Notes</button>
</div>
<div>
  <app-notes-card ></app-notes-card>
  <app-notes-card></app-notes-card>
  <app-notes-card></app-notes-card>
  <app-notes-card></app-notes-card>
</div>
<div class="notes" >
  <div class="card w-75 ml-3">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
