<br />
<br />
<br />

<div class="container">
  <div class="row">
    <!-- <p>Login form style 1</p> -->
    <div class="col d-flex justify-content-center">
      <div
        class="card shadow-2-strong shadow p-3 mb-5 bg-white rounded"
        style="border-radius: 1rem; width: 30rem"
      >
        <article class="card-body">
          <button type="button" class="btn btn-primary">Forget Password</button>

          <form
            class="user-login"
            [formGroup]="forgotForm"
            (ngSubmit)="onSendEmail()"
          >
            <div class="form-group">
              <br />
              <label>Email ID</label>
              <input
                name=""
                type="email"
                class="form-control"
                id="inputEmail"
                formControlName="email"
                placeholder="Enter Email Id"
              />

              <div
                *ngIf="submitted && formControl.email.errors"
                class="text-danger"
              >
                <div *ngIf="submitted && formControl.email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="submitted && formControl.email.errors.email">
                  Email must be valid.
                </div>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                (click)="onSendEmail()"
                class="btn btn-primary btn-block"
              >
                Send Email
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button
                type="button"
                (click)="onBack()"
                class="btn btn-primary btn-block"
              >
                Back
              </button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
