<div class="change-password">
  <div style="margin-top: 110px;">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 30rem;padding: 20px;border: 1px solid black;">
        <h4 class="head py-2">Change Password </h4>
        <form class="user-login" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 roundedTextBox mb-3">
              <label>Validation Pass Code</label>
              <input type="password" class="form-control mb-2" id="ValidationPass" formControlName="tempPassword" placeholder="Enter New Password">
              <div *ngIf="submitted && formControl.tempPassword.errors" class="text-danger">
                <div *ngIf="formControl.tempPassword.errors.required">Password is required.</div>
              </div>
              <label>New Password</label>
              <input type="password" class="form-control mb-2" id="inputPassword" formControlName="password" placeholder="Enter New Password">
              <div *ngIf="submitted && formControl.password.errors" class="text-danger">
                <div *ngIf="formControl.password.errors.required">Password is required.</div>
                <div *ngIf="formControl.password.errors.minlength">Minimum length for password is 6</div>
              </div>
            </div>
            <div class="col-md-12 roundedTextBox mb-3">
              <label>Confirm Password</label>
              <input type="password" class="form-control mb-2" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password">
              <div *ngIf="submitted && formControl.confirmPassword.errors" class="text-danger">
                <div *ngIf="formControl.confirmPassword.errors.required">Password is required.</div>
                <div *ngIf="formControl.confirmPassword.errors.minlength">Minimum length for password is 6</div>
                <div *ngIf="formControl.confirmPassword.errors.mustMatch">Password Must Match</div>
              </div>
            </div>
          </div>
          <br>
          <div class="buttons text-center">
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-primary btn-md mx-2 btn- mx-sm-2 " style="width: 180px;"  type="submit">Submit</button>
              <button type="button" style="width: 180px;" class="btn btn-secondary btn-md mx-sm-2" (click)="onReset()" >Cancel</button>
                </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

