<form class="example-form">
    <mat-accordion class="example-headers-align" multi>
        <!-- First expansion forms -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width mx-2" appearance="fill">
                            <mat-label>First name</mat-label>
                            <input required matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width mx-4" appearance="fill">
                            <mat-label>Last name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>

        <!-- Second expansion forms -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width mx-2" appearance="fill">
                            <mat-label>First name</mat-label>
                            <input required matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width mx-4" appearance="fill">
                            <mat-label>Last name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</form>